body {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: Glacial GlacialIndifference-Regular;
  src: url('/fonts/GlacialIndifference-Regular.otf');
  background-color: white;
  color: black;
}

.titleanimation {
  height: 100%;
  width: 100%;
  z-index: 100;
  position: absolute;
  background-image: url("/pics/intro.gif");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.boxText {
  font-size: 1em;
  font-family: "Staatliches", cursive;
}

.secondtitle {
  font-family: "Staatliches", cursive;
  font-size: 3em;
}

.title {
  position: absolute;
  top: 0;
  right: 0;
  border-style: solid;
  border-width: 0.5px;
  display: inline-block;
  padding: 1%;
}

.slides {
  width: 100%;
  height: 100vh;
  opacity: 0.3;
}

.desc {
  position: absolute;
  text-align: center;
  top: 40%;
  width: 100%;
  z-index: 100;
  color: whitesmoke;
  font-size: 3em;
}

.listcountry {
  margin-left: 10%;
  width: 50%;
  margin-right: 10%;
}

li {
  font-family: Glacial GlacialIndifference-Regular;
  font-size: 2em;
}

* {
  box-sizing: border-box;
}

button {
  background-color: rgba(255, 255, 255, 0.8);
  border: 0;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(255, 255, 255, 0.2);
  color: black;
  font-size: 14px;
  padding: 10px 25px;
}

.modal-container {
  background-color: rgba(0, 0, 0, 0);
  position: fixed;
  top: 0;
  left:0;
  height: 100vh;
  width: 30vw;
  opacity: 0;
  pointer-events: none;
}

.modal-container.show {
  pointer-events: auto;
  opacity: 1;
}

.modal {
  background-color: rgba(255, 255, 255);
  padding: 30px 50px;
  width: 600px;
  max-width: 100%;
  height: 100vh;
}

.modal h1 {
  margin: 0;
  font-size: 30px;
}
.modal h3 {
  font-size: 24px;
  color: darkgray;
}
.modal p {
  font-size: 18px;
}

.modal-img {
  width: 90%;
  margin-bottom: 10px;
}

.title-page {
font-family: Alien;
src: url('/fonts/alienleagueiileft-webfont.woff2') format('woff2');
position: absolute;
top: 0;
left: 0;
padding-top: 0.2%;
padding: 1%;
color: white;
}

